{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "keepClassNames": true,
    "target": "es2022",
    "baseUrl": "./",
    "paths": {
      "@/*": ["./src/*"]
    }
  },
  "module": {
    "type": "nodenext",
    "strict": true,
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  },
  "isModule": true,
  "sourceMaps": true
}
